@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Target all SVG paths */
  svg path {
    stroke: #d1d5db;
    pointer-events: stroke;
    transition: stroke 0.2s ease;
  }

  svg path:hover {
    stroke: #4b5563;
  }

  /* Make polygon change color when path is hovered */
  svg path:hover + polygon {
    fill: #4b5563;
  }

  /* Style for all polygons */
  svg polygon {
    fill: #d1d5db;
    transition: fill 0.2s ease;
  }
}

